#headerimg{
    width: 100%;
}

nav a{
    width: 25%;
    text-align: center;
}

nav{
    position: fixed;
}

h1{
	text-align: center;
	margin-bottom: 50px;
}

footer{
	margin-top:30px;
}

main{
	padding-left: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width:20%;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width:2%;
}
