<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Fuvarral való megbízás</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<div>
    <h2>Folyamatban lévő fuvarok</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Futár ID</th>
            <th>Rendelés ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fuvar : ${fuvarok}">
            <td th:text="${fuvar.id}"></td>
            <td th:text="${fuvar.futarid}"></td>
            <td th:text="${fuvar.rendelesid}"></td>
            <td><a th:href="@{/editfuvar/{id}(id=${fuvar.id})}">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrash"
                        th:attr="data-target='#modal-toTrash'+${fuvar.id}" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" th:id="modal-toTrash+${fuvar.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="error-text"><strong>Confirmation</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                                Cancel
                            </button>
                            <!--a th:href="@{/deletefuvar/{id}(id=${fuvar.id})}"-->
                            <form th:action="@{/deletefuvar/{id}(id=${fuvar.id})}" method="post">
                                <button class="btn-sm btn-dark details" type="submit" value="delete">Yes</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Fuvarral való megbízás</h2>
    <form th:action="@{/addfutar}" method="post">
        <label>Rendelés ID:
            <input type="text" name="rendelesid" id="rendelesid"></input>
        </label>
        <label>Futár ID:
            <input type="text" name="futarid" id="futarid"></input>
        </label>
        <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
    </form>
</div>
</body>
</html>