<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bad Request</title>
    <style>
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

a:hover, a:active {
  background-color: grey;
  border-radius: 25px;
}
div {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
body{
background-color: #c4d7f5;
font-size: 40px;
font-family:arial;
}
</style>

</head>
<body>
<script>alert("Rossz Input!")</script>
<center>


<div>
    <a href="/fuvarok">Vissza a fuvarokhoz</a>
</div>

</center>
</body>
</html>